body {
	background-color: #080808;
}

#boardsquares {
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-right: 1em;
	table-layout: fixed;
	z-index: 1;
}

#boardpieces {
	border-collapse: collapse;
	position: fixed;
	table-layout: fixed;
	z-index: 3;
}

#fenbox {
	border: none;
	caret-color: white;
	color: #6cccee;
	display: block;
	float: bottom;
	font-family: monospace, monospace;
	font-size: 100%;
	width: 100%;
}
